!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title MapStruct - Java Bean Mappings, the Easy Way!
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }

    :css
      body {
        padding-top: 60px;
      }

    -# jquery
    -# %script{ :type=>'text/javascript', :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/jquery-1.9.1.min.js" }

    -# Bootstrap
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-tab.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-scrollspy.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-affix.js" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }

    -# GitHub ribbon
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/gh-fork-ribbon.css" }
    /[if IE]
      %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/gh-fork-ribbon.ie.css" }

    -# Prettify
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/prettify.css" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/prettify.js" }

    :javascript
      (function(jQuery){
        jQuery( document ).ready( function() {
          prettyPrint();
        } );
      }(jQuery))

  %body
    .navbar.navbar-fixed-top
      .hidden-phone.pull-right{ :style=>"padding-top: 11px; margin-right: 120px;" }
        .g-plusone{ :"data-size"=>"medium" }

        :javascript
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();

      .hidden-phone.github-fork-ribbon-wrapper.right
        .github-fork-ribbon
          %a{ :href=>"https://github.com/mapstruct/mapstruct" } Fork me on GitHub
      .navbar-inner
        .container
          %a.brand{ :href=>"/" } MapStruct
          %ul.nav
            %li
              %a{ :href=>"/" } Home
            %li
              %a{ :href=>"#{site.base_url}/news" } News
            %li
              %a{ :href=>"#{site.base_url}/documentation" } Documentation
            -#%li
            -#  %a{ :href=>"#{site.base_url}/download" } Download
            %li
              %a{ :href=>"#{site.base_url}/getting-help" } Getting help
            %li
              %a{ :href=>"#{site.base_url}/contributing" } Contributing

    .container
      ~ content
      %hr
      %footer
        %p &copy; Gunnar Morling #{Date.today.year}
    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }

    = google_analytics_async
