---
layout: base
---

.row
  .span12
    .post-header
      %h1
        #{page.title}

      %h5
        = page.author + ", " + page.date.strftime( '%d %B %Y' )

.row
  .span12
    ~ content

.row
  .span12
    %p
      Tags:
      - page.tags.each do |tag|
        %a{:href=>tag.primary_page.url}
          = tag

.row
  .span4
    - if page.previous_post
      %a{:href => page.previous_post.url} Previous
  .span4{ :style=>"text-align: center;"}
    %a{:href => "#{site.base_url}/news"} All news
  .span4{ :style=>"text-align: right;"}
    - if page.next_post
      %a{:href => page.next_post.url} Next

.row
  .span12
    = page.disqus_comments
